---
import { getCollection } from 'astro:content'
import Card from './ui/Card.astro'
const algorithms = await getCollection('algorithms')
---

<div class='flex min-h-screen flex-col'>
  <main class='container mx-auto flex-grow px-4 py-8 sm:px-6 lg:px-8'>
    <div class='mx-auto'>
      <header class='prose mb-12 text-center'>
        <h1 class='mb-4 text-4xl font-bold'>Algorithm Explorer</h1>
        <p>
          Explore a comprehensive collection of algorithms, categorized for easy
          navigation and understanding.
        </p>
      </header>
      <div class='mb-8'>
        <form role='search' class='relative'>
          <input
            class='h-12 w-full -translate-y-[0px] rounded-lg border border-black bg-white px-4 py-2 text-sm font-medium text-black shadow-[0px_0px_0px_0px_rgba(0,0,0,1)] outline-0 transition-all focus:-translate-x-[4px] focus:-translate-y-[4px] focus:shadow-[4px_4px_0px_0px_rgba(0,0,0,1)] md:text-base'
            placeholder='Search algorithms...'
            type='text'
          />
        </form>
      </div>
      <div class='space-y-12'>
        {
          algorithms.map((algorithm) => {
            const { slug, data } = algorithm
            const { title, description, category } = data
            return (
              <Card
                title={title}
                description={description}
                slug={slug}
                category={category}
              />
            )
          })
        }
      </div>
    </div>
  </main>
</div>
