---
import '../styles/global.css'
import Header from '../components/ui/Header.astro'
import background from '../assets/background.svg'
---

<!-- https://algorithm-visualization-roan.vercel.app/logo.jpg --><!doctype html>
<html lang='en'>
  <head>
    <meta name='viewport' content='width=device-width' />
    <title>Algorithm Visualization Tool</title>
    <meta charset='UTF-8' />
    <link rel='icon' type='image/svg+xml' href='/puzzle.svg' />
    <meta name='generator' content={Astro.generator} />
    <meta
      name='description'
      content='Visualize and understand various algorithms through interactive animations.'
    />
    <meta property='og:title' content='Algorithm Visualization Tool' />
    <meta
      property='og:description'
      content='Visualize and understand various algorithms through interactive animations.'
    />
    <meta property='og:type' content='website' />
    <meta property='og:image' content='/logo.jpg' />
    <meta
      name='keywords'
      content='algorithms, visualization, sorting, searching, data structures'
    />
    <meta name='author' content='Carlos Alan Lerma Ramirez' />
    <meta name='robots' content='index, follow' />
    <meta name='theme-color' content='#ff526d' />
    <meta
      property='og:url'
      content='https://algorithm-visualization-roan.vercel.app/'
    />
    <meta property='og:type' content='website' />
    <meta property='og:title' content='Algorithm Visualization Tool' />
    <meta
      property='og:description'
      content='Visualize and understand various algorithms through interactive animations.'
    />
    <meta
      property='og:image'
      content='https://algorithm-visualization-roan.vercel.app/logo.jpg'
    />
  </head>
  <body class='overflow-x-hidden'>
    <img id='background' src={background.src} alt='' fetchpriority='high' />
    <div class='mx-auto w-full px-4 sm:px-6 md:max-w-[800px] lg:px-8'>
      <!-- header -->
      <Header />
      <slot />
    </div>
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }

  #background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    filter: blur(100px);
  }
</style>
