---
import Github from '@/icons/github.svg'
import Link from './Link.astro'
---

<header class='sticky top-0 z-10 border-b border-gray-200 backdrop-blur-sm'>
  <div class='container mx-auto px-4 sm:px-6 lg:px-8'>
    <div class='flex h-16 items-center justify-between'>
      <div class='flex items-center space-x-8'>
        <a class='flex items-center space-x-2' href='/'>
          <span class='text-xl font-bold'>AlgoVis</span>
        </a>
      </div>
      <div class='flex items-center space-x-4'>
        <div class='flex items-center space-x-2'>
          <Link
            href='https://github.com/CharlieAL/algorithm-visualization'
            target='_blank'
            rel='noopener noreferrer'
          >
            <div class='flex items-center space-x-1'>
              <Github class='size-5' />
              <span class='material-symbols-outlined'> Github </span>
            </div>
          </Link>
        </div>
      </div>
    </div>
  </div>
</header>
